{% extends 'base.html' %}

{% block title %}Update Location{% endblock %}

{% block content %}
    <h2>Add Location</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <ul>
        {% for location in locations %}
        <li>{{ location.name }} - {{ location.description }} 
            <a href="/update/{{ location.id }}">Edit</a>
            <a href="/delete/{{ location.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
